.venv/
__pycache__/
.pytest_cache/
.DS_Store

.env

data/raw/*
data/bronze/*
data/processed/*

!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/processed/.gitkeep

dashboard/*.pbix*.pyc
*.pyc
analytics_dbt/target/
analytics_dbt/logs/
analytics_dbt/dbt_packages/
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*
airflow/logs/
airflow/*.db
